# generated binaries
out

# generated documentation
docs/api
docs/build
docs/source/_inc
*.pyc

# dev tools, editors, etc.
language.settings.xml
.settings
nbproject
.*.swp
.vscode
GTAGS
GRTAGS
GPATH

# Microsoft Visual SourceSafe files
vssver2.scc

.metadata
.submodule
