[submodule "Sming/third-party/rboot"]
	path = Sming/third-party/rboot
	url = https://github.com/raburton/rboot.git
        ignore = dirty
[submodule "Sming.wiki"]
	path = docs/wiki
	url = https://github.com/SmingHub/Sming.wiki.git
	ignore = dirty
[submodule "Sming/third-party/esp-gdbstub"]
	path = Sming/third-party/esp-gdbstub
	url = https://github.com/espressif/esp-gdbstub.git
        ignore = dirty
[submodule "Sming/third-party/pwm"]
	path = Sming/third-party/pwm
	url = https://github.com/StefanBruens/ESP8266_new_pwm.git
        ignore = dirty
[submodule "Sming/third-party/axtls-8266"]
	path = Sming/third-party/axtls-8266
	url = https://github.com/igrr/axtls-8266.git
        ignore = dirty
[submodule "Sming/third-party/spiffs"]
	path = Sming/third-party/spiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "Sming/third-party/umm_malloc"]
	path = Sming/third-party/umm_malloc
	url = https://github.com/rhempel/umm_malloc.git
	ignore = dirty
[submodule "Sming/third-party/esp-open-lwip"]
	path = Sming/third-party/esp-open-lwip
	url = https://github.com/pfalcon/esp-open-lwip.git
	ignore = dirty
[submodule "Sming/third-party/http-parser"]
	path = Sming/third-party/http-parser
	url = https://github.com/nodejs/http-parser.git
	ignore = dirty
[submodule "Sming/third-party/ws_parser"]
	path = Sming/third-party/ws_parser
	url = https://github.com/charliesome/ws_parser.git
	ignore = dirty
[submodule "Sming/Libraries/Adafruit_ST7735"]
	path = Sming/Libraries/Adafruit_ST7735
	url = https://github.com/adafruit/Adafruit-ST7735-Library.git
	ignore = dirty
[submodule "Sming/Libraries/Adafruit_SSD1306"]
	path = Sming/Libraries/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
	ignore = dirty
[submodule "Sming/Libraries/Adafruit_BME280_Library"]
	path = Sming/Libraries/Adafruit_BME280_Library
	url = https://github.com/adafruit/Adafruit_BME280_Library.git
	ignore = dirty
[submodule "Sming/Libraries/Adafruit_Sensor"]
	path = Sming/Libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
	ignore = dirty
[submodule "Sming/third-party/lwip2"]
	path = Sming/third-party/lwip2
	url = https://github.com/d-a-v/esp82xx-nonos-linklayer.git
	ignore = dirty
[submodule "Sming/third-party/ESP8266_NONOS_SDK"]
	path = Sming/third-party/ESP8266_NONOS_SDK
	url = https://github.com/espressif/ESP8266_NONOS_SDK.git
	ignore = dirty
[submodule "tools/esptool2"]
	path = tools/esptool2
	url = https://github.com/raburton/esptool2.git
	ignore = dirty
[submodule "Sming/Libraries/RingBufCPP"]
	path = Sming/Libraries/RingBufCPP
	url = https://github.com/wizard97/Embedded_RingBuf_CPP.git
	ignore = dirty
[submodule "Sming/Libraries/IR"]
	path = Sming/Libraries/IR
	url = https://github.com/markszabo/IRremoteESP8266.git
	ignore = dirty
[submodule "Sming/Libraries/DHTesp"]
	path = Sming/Libraries/DHTesp
	url = https://github.com/beegee-tokyo/DHTesp.git
	ignore = dirty
