language: python
python: 3.8.6
os: linux
dist: focal
env:
  global:
  - SMINGTOOLS=https://github.com/SmingHub/SmingTools/releases/download/1.0
  - secure: D/cPk+sL2MNHLtfuU/rMiVN63+CTFpo9Chqa39LEH5VloGqC5f7RyIi2Maa3C/U2JQfM01HlsNR7E5bB0W8DQYbtzBDTqbZ4C7ppZRU5jCQ+L51ERKJ0EAV3KkaravQCRbWt3tlgOp6Xk6xaRMBaHEGrdbFjHYgEMPVteUQNr0A=
  - secure: pc8Yqwmn6AM+iBjLNNnknmOoi+AxoyvcVy128b2WXSdj6Q4bOIXgj4WUg8I52i1fgyh0Rxg19WUB6qSVyykCXVdSRajIU1MsKZI+0q44Q83wnwVeYm7nPWxDqS3FKMajucZCg4p0BTE4T6tpnm7zZNHduHnggua/NpP2h7B/Sqs=
  - secure: TX0IxYV3tTocCaJcgIA2xzJyHIzbxo7sAkLLYL+OITgWPD1VDUrEqEe7konQA5NIDJJ0VjoHxpdfti2LHG1fw45vrEMfBIOmZG6nW2gxD8ZS2G8KlYIxFB93oNNB6qJRHps1uIANk2hM+Ju6Pnqfc+lLh8oabs974ziAxoYuAJQ=
jobs:
  include:
  - stage: test
    name: Host
    addons:
      apt:
        packages:
        - clang-format-8
        - linux-libc-dev:i386
        - g++-9-multilib
        - gcc-9-multilib
        - lib32stdc++-9-dev
        - libx32stdc++-9-dev
        - doxygen
        - python3-sphinx
        - python3-pip
        - python3-setuptools
        - python3-cairocffi
        - graphviz-dev
        - xmlstarlet
        - jq
    env:
    - SMING_ARCH=Host
  - stage: build
    name: C++17
    addons:
      apt:
        packages:
        - linux-libc-dev:i386
        - g++-9-multilib      
    env:
    - SMING_ARCH=Esp8266
    - SDK_VERSION=3.0.1
    - ESP_HOME=$TRAVIS_BUILD_DIR/opt/esp-quick-toolchain

  - stage: build
    name: ESP-IDF
    env:
    - SMING_ARCH=Esp32


git:
  submodules: false
addons:
  apt:
    update: true
    packages:
    - xmlstarlet
install: "Tools/travis/install.sh"
script: "Tools/travis/build.sh"
deploy:
  provider: script
  script: "Tools/travis/deploy.sh $TRAVIS_TAG"
  skip_cleanup: true
  on:
    tags: true
    condition: $TRAVIS_BUILD_STAGE_NAME = test
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/c1a5e8bc97d3794a0417
    on_success: always
    on_failure: always
