language: cpp
env:
  global:
  - SMINGTOOLS=https://github.com/SmingHub/SmingTools/releases/download/1.0
  - secure: D/cPk+sL2MNHLtfuU/rMiVN63+CTFpo9Chqa39LEH5VloGqC5f7RyIi2Maa3C/U2JQfM01HlsNR7E5bB0W8DQYbtzBDTqbZ4C7ppZRU5jCQ+L51ERKJ0EAV3KkaravQCRbWt3tlgOp6Xk6xaRMBaHEGrdbFjHYgEMPVteUQNr0A=
  - secure: pc8Yqwmn6AM+iBjLNNnknmOoi+AxoyvcVy128b2WXSdj6Q4bOIXgj4WUg8I52i1fgyh0Rxg19WUB6qSVyykCXVdSRajIU1MsKZI+0q44Q83wnwVeYm7nPWxDqS3FKMajucZCg4p0BTE4T6tpnm7zZNHduHnggua/NpP2h7B/Sqs=
  - secure: TX0IxYV3tTocCaJcgIA2xzJyHIzbxo7sAkLLYL+OITgWPD1VDUrEqEe7konQA5NIDJJ0VjoHxpdfti2LHG1fw45vrEMfBIOmZG6nW2gxD8ZS2G8KlYIxFB93oNNB6qJRHps1uIANk2hM+Ju6Pnqfc+lLh8oabs974ziAxoYuAJQ=
jobs:
  include:
  - stage: test
    os: linux
    dist: xenial
    addons:
      apt:
        packages:
        - clang-format-6.0
        - gcc-multilib
        - g++-multilib
        - doxygen
        - python3-sphinx
        - python3-pip
        - python3-setuptools
        - graphviz-dev
        - xmlstarlet
        - jq
    env:
    - SMING_ARCH=Host

  - stage: build
    os: linux
    env:
    - SMING_ARCH=Esp8266
    - SDK_VERSION=3.0.1
    - ESP_HOME=$TRAVIS_BUILD_DIR/opt/esp-alt-sdk

  - stage: build c++17
    os: linux
    env:
    - SMING_ARCH=Esp8266
    - SDK_VERSION=3.0.1
    - ESP_HOME=$TRAVIS_BUILD_DIR/opt/esp-quick-toolchain

git:
  submodules: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - sourceline: ppa:libreoffice/libreoffice-4-2
    - llvm-toolchain-trusty-6.0
    packages:
    - bsdtar
    - doxygen
    - doxygen-doc
    - doxygen-latex
    - doxygen-gui
    - graphviz
    - xmlstarlet
  coverity_scan:
    project:
      name: SmingHub/Sming
      description: Sming Framework
    notification_email: slaff@attachix.com
    build_command_prepend: export SMING_HOME=$TRAVIS_BUILD_DIR/Sming; cd $SMING_HOME
    build_command: make Basic_DateTime Basic_Delegates Basic_Interrupts Basic_ProgMem
      Basic_Serial Basic_Servo Basic_Ssl HttpServer_FirmwareUpload SMING_ARCH=Host
      DEBUG_VERBOSE_LEVEL=3
    branch_pattern: ci/coverity-scan
install: ".travis/install.sh"
script: ".travis/build.sh"
deploy:
  provider: script
  script: ".travis/deploy.sh $TRAVIS_TAG"
  skip_cleanup: true
  on:
    tags: true
    condition: $TRAVIS_BUILD_STAGE_NAME = Test
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/c1a5e8bc97d3794a0417
    on_success: always
    on_failure: always
