sudo: false
language: cpp

env:
  global:
    - SDK_BUILD=258
  secure: "S3EUTvY0Uegqcnfd25FqEtiZFutpzu1HVayaeBLZ7iZzKyfp+ZKlk8hNx+qDCCMhBbZQZ17ZAMQm0BKuHth1/dOzCgav3dQbr5rbzKcVkcc8C0K0paOMUKr2SAMtFSc5iwjgmCG0BEiyZypfrCUg01d0NuPP82tgIrRMm2HqkQ0="

matrix:
    include:
        - os: linux
          env: SDK_VERSION=1.5.0
        - os: linux
          env: SDK_VERSION=2.0.0
          
git:
  submodules: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:     
      - bsdtar

install:
  - if [ "$SDK_VERSION" != "2.0.0" ] && [ "$TRAVIS_OS_NAME" == "osx" ]; then export SDK_FILE_NAME="esp-alt-sdk-v${SDK_VERSION}.${SDK_BUILD}-macos-x86_64.zip"; fi
  - if [ "$SDK_VERSION" != "2.0.0" ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then export SDK_FILE_NAME="esp-alt-sdk-v${SDK_VERSION}.${SDK_BUILD}-linux-x86_64.tar.gz"; fi
  - mkdir -p $TRAVIS_BUILD_DIR/opt/esp-alt-sdk
  - if [ "$SDK_VERSION" != "2.0.0" ]; then wget https://bintray.com/artifact/download/kireevco/generic/${SDK_FILE_NAME}; fi
  - if [ "$SDK_VERSION" != "2.0.0" ]; then bsdtar -xf ${SDK_FILE_NAME} -C $TRAVIS_BUILD_DIR/opt/esp-alt-sdk; fi
  - if [ "$SDK_VERSION" == "2.0.0" ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then wget https://github.com/nodemcu/nodemcu-firmware/raw/master/tools/esp-open-sdk.tar.xz; tar -Jxvf esp-open-sdk.tar.xz; ln -s `pwd`/esp-open-sdk/xtensa-lx106-elf $TRAVIS_BUILD_DIR/opt/esp-alt-sdk/. ; fi
  - if [ "$SDK_VERSION" == "2.0.0" ] && [ "$TRAVIS_OS_NAME" == "linux" ]; then wget http://bbs.espressif.com/download/file.php?id=1690 -O sdk.zip; unzip sdk.zip; ln -s `pwd`/ESP8266_NONOS_SDK/ $TRAVIS_BUILD_DIR/opt/esp-alt-sdk/sdk; export  DEPLOY='true'; fi

script:
  - export CHANGED_FILES=`git diff --diff-filter=AMD HEAD HEAD^ --name-only`
  - export CHANGED_PROJECTS=`for i in $CHANGED_FILES; do echo "$i" |  grep '^samples/' | cut -d'/' -f2; done | uniq`
  - export SMING_HOME=$TRAVIS_BUILD_DIR/Sming
  - export ESP_HOME=$TRAVIS_BUILD_DIR/opt/esp-alt-sdk  
  - export PATH=$PATH:$ESP_HOME/xtensa-lx106-elf/bin:$ESP_HOME/utils/:$SMING_HOME/../.travis/tools
  - cd $SMING_HOME
  - make test 
  - cd $SMING_HOME/../
  - export SMING_HAS_CHANGED=`for i in $CHANGED_FILES; do  if [[ $i == Sming/* ]]; then echo 1; break; fi; done`
  - if [ ! -z "$SMING_HAS_CHANGED" ]; then CHANGED_PROJECTS=`cd $SMING_HOME/../samples; ls -d *`; fi
  - for i in $CHANGED_PROJECTS; do echo "Compiling $i"; make -C "samples/$i"; if [ $? -ne 0 ]; then exit 1; fi; done
  - cd $SMING_HOME
  - make clean samples-clean
  - make ENABLE_GDB=1
  - make Basic_Debug
  - make clean samples-clean
  - make ENABLE_CUSTOM_HEAP=1
  - make Basic_Blink ENABLE_CUSTOM_HEAP=1
  - make clean samples-clean
  - make ENABLE_CUSTOM_LWIP=1; make samples ENABLE_CUSTOM_LWIP=1

deploy:
  provider: script
  script: .travis/deploy.sh $TRAVIS_TAG
  skip_cleanup: true
  on:
    tags: true
    condition: $DEPLOY == true
