os: Windows Server 2012 R2

environment:
  SMINGTOOLS: https://github.com/SmingHub/SmingTools/releases/download/1.0
  PATH: C:\MinGW\msys\1.0\bin;C:\MinGW\bin;C:\Python38\scripts;%PATH%
  UDK_ROOT: C:\Espressif
  EQT_ROOT: C:\esp-quick-toolchain
  matrix:
    - build_platform: "x86"
      build_compiler: "mingw"
      SMING_ARCH: Host

    - build_platform: "x86"
      build_compiler: "udk"
      SMING_ARCH: Esp8266
      SDK_VERSION: 3.0.1

    - build_platform: "x86"
      build_compiler: "eqt"
      SMING_ARCH: Esp8266
      SDK_VERSION: 3.0.1

# cache:
#   - src/  # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified
install:
  - cmd: .appveyor/install.cmd

build_script:
  - cmd: .appveyor/build.cmd
