# Requirements file for pip
# list of Python packages used in documentation build
sphinx==4.2.0
sphinx-rtd-theme==1.0.0
m2r2==0.3.1
mistune==0.8.4 # Version 2 not compatible with m2r2
breathe==4.31.0
sphinxcontrib-wavedrom
sphinx-copybutton
sphinxcontrib-seqdiag==2.0.0
jinja2==2.11.3
setuptools>=57.5.0
funcparserlib==1.0.0a0
