# Requirements file for pip
# list of Python packages used in documentation build
sphinx==7.2.6
sphinx-rtd-theme
m2r2
# mistune==2.0.3 # Version 2 not compatible with m2r2
breathe
sphinxcontrib-wavedrom
sphinx-copybutton
sphinxcontrib-seqdiag
jinja2>=3.0.3
setuptools>=57.5.0
funcparserlib
