name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      
# TODO: check if the tag is pointing to the tip of the master branch

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: trstringer/manual-approval@v1
      if: ${{ github.ref_type == 'tag' }}
      with:
         secret: ${{ github.TOKEN }}
         approvers: slaff
    - name: Install xmlstarlet
      if: ${{ github.ref_type == 'tag' }}
      run: sudo apt-get install -y xmlstarlet
    - name: Build docs
      if: ${{ github.ref_type == 'tag' }}
      run: |
        Tools/install.sh doc
        make -C docs html
        zip -r sming-docs.zip docs/build/html
    - name: Release New Version
      if: ${{ github.ref_type == 'tag' }}
      env: 
        SMING_ARCH: Host
        RELEASE_TOKEN: ${{secrets.RELEASE_TOKEN}}
        CI_REPO_NAME: ${{github.repository}}
        CHOCO_TOKEN: ${{secrets.CHOCO_TOKEN}}
      run: |
        export CI_BUILD_DIR="$GITHUB_WORKSPACE"
        export SMING_HOME="$GITHUB_WORKSPACE/Sming"
        make -C $SMING_HOME submodules
        cat > /tmp/secrets.sh
        Tools/ci/deploy.sh ${{github.ref_name}}